@model IEnumerable<AsyncInn.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<form asp-controller="Rooms" asp-action="Index">
    <input type="text" name="SearchString" placeholder="Search by Room Name" />
    <input type="submit" value="SEARCH" />
</form>
<label>Number of Rooms:</label> @Model.ToArray().Length
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amenitiesCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Layout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amenitiesCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
